{% extends 'operations/base.html'%}
{% load static %}
{% block title %}
	User - Details
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'operations/list.css' %}">
{% endblock %}
{% block content %}
    <h2 style="margin-top: 20px">Employee Details</h2>
    <div class='flex-box'>
    {% for employee in object_list %}
            <div class='card'>
                <div class=''>
                    <img class="img" src="{{ employee.profile_pic.url }}">
                </div>
                <p class='center'>Name: {{ employee.first_name|title }}</p>
                <p class='center'>Code: {{ employee.employee_code|title }}</p>
                <p class='center'>Job: {{ employee.designation|title }}</p>
                <a href='/detail/{{ employee.employee_code }}' class="anchor">Read More</a>
            </div>
    {% endfor %}
    </div>
{% endblock %}